.container{
    display:flex;
}

.element{
    margin:auto;
}
  
h1, h2, h3 {
    color: white;
    font-size: 24px;
}

h2 {
    color: white;
    font-size: 12px;
}

html {
    font-size: 10px;
    font-family: 'Playfair Display', serif;
    background-color: #000000;
    text-align: center;
}